.btn {
    border-radius: var(--size-xs);
    display: inline-flex;
}

.btn-primary {
    background-color: var(--btn-primary-bg);
    color: var(--btn-primary-text);
    border: var(--size-xs) solid var(--btn-primary-border);
    transition: all 0.125s ease;

    &:hover {
        opacity: var(--btn-hover-opacity);

    }

}

.btn-md {
    font-size: var(--size-md);
    padding: var(--size-xxs) var(--size-sm);
}

.btn-sm {
    font-size: var(--size-sm);
    padding: var(--size-xs) var(--size-sm);
}

.btn-disabled {
    background-color: var(--btn-disabled-bg);
    border: var(--size-xs) solid var(--btn-disabled-bg);
    color: var(--btn-primary-text);
    cursor: not-allowed;

}