@layer reset, tokens, themes, utilities;

@layer reset {
    * {
        box-sizing: border-box;
        scroll-behavior: smooth;
        scrollbar-color: var(--scrollbar-thumb) var(--scrollbar-track);
        scrollbar-width: thin;
    }

    html {
        font-size: 62.5%;
    }

    body {
        background-color: var(--bg-primary);
        color: var(--text-primary);
        margin: 0;
        padding: 0;
        font-family: var(--font-default);
        font-size: 1.6rem;
        font-style: normal;
        font-optical-sizing: auto;
        letter-spacing: -0.05rem;
        font-weight: 400;
        word-spacing: 0.01rem;
        tab-size: 4;
        -webkit-font-smoothing: antialiased;
        text-rendering: optimizeLegibility;
    }

    a {
        text-decoration: none;
    }

    li {
        list-style-type: none;
    }

    ul,
    h1,
    h2,
    h3,
    h4,
    h5,
    h6,
    p {
        margin: 0;
        padding: 0;
        line-height: 1.6;
    }

    button,
    input,
    label,
    select,
    textarea {
        font-family: inherit;
    }
}

@layer tokens {
    :root {
        /* Spacing tokens */
        --space-xxs: 0.35rem;
        --space-xs: 0.5rem;
        --space-sm: 0.75rem;
        --space-md: 1rem;
        --space-mdl: 1.25rem;
        --space-lg: 1.5rem;
        --space-xl: 2rem;
        --space-xxl: 2.5rem;

        /* Border radius tokens */
        --radius-sm: 0.35rem;
        --radius-md: 0.5rem;
        --radius-lg: 0.75rem;
        --radius-full: 9999px;

        /* Font tokens */
        --font-default: 'Inter', sans-serif;
        --font-size-xs: 1.2rem;
        --font-size-sm: 1.35rem;
        --font-size-md: 1.5rem;
        --font-size-lg: 1.8rem;
        --font-size-xl: 2.4rem;

        /* Transition tokens */
        --transition-fast: 0.15s ease-in-out;
        --transition-base: 0.2s ease-in-out;
        --transition-slow: 0.3s ease-in-out;

        /* Opacity tokens */
        --opacity-disabled: 0.6;
        --opacity-hover: 0.9;
        --opacity-loading: 0.7;
    }
}

@layer themes {

    [data-theme="dark"] {
        /* Background colors */
        --bg-primary: oklch(15.434% 0.00002 271.152);
        --bg-secondary: oklch(30.118% 0.00003 271.152);
        --bg-elevated: oklch(100% 0 0);

        /* Text colors */
        --text-primary: oklch(100% 0.00011 271.152);
        --text-secondary: oklch(75.402% 0.00009 271.152);
        --text-tertiary: oklch(64.341% 0.00007 271.152);
        --text-inverse: oklch(19.125% 0.00002 271.152);

        /* Border colors */
        --border-primary: oklch(34.846% 0.00004 271.152);
        --border-secondary: oklch(23.929% 0.00003 271.152);

        /* Button */
        --btn-border: 1px solid var(--border-primary);

        /* Scrollbar */
        --scrollbar-thumb: #c0c0c1;
        --scrollbar-track: #f0f0f0;

        /* System colors */
        --focus-ring: oklch(86.686% 0.0001 271.152 / 0.438);

        /* Brand - Primary */
        --brand-primary: oklch(21.779% 0.00002 271.152);
        --brand-primary-text: oklch(100% 0.00011 271.152);

        /* Brand - Secondary */
        --brand-secondary: oklch(92.494% 0.00011 271.152);
        --brand-secondary-text: oklch(31.317% 0.00004 271.152);

        /* Status - Success */
        --status-success: oklch(62.261% 0.12231 168.976);
        --status-success-text: oklch(100% 0.00011 271.152);

        /* Status - Danger */
        --status-danger: oklch(65.149% 0.20483 29.016);
        --status-danger-text: oklch(100% 0.00011 271.152);

        /* Status - Warning */
        --status-warning: oklch(75.659% 0.13791 73.503);
        --status-warning-text: oklch(28.908% 0.00003 271.152);

        /* Button variants - Ghost */
        --btn-ghost-text: oklch(82.736% 0.00109 12.426);
        --btn-ghost-bg: oklch(25.197% 0.00003 271.152 / 0.712);

        /* Button variants - Outline */
        --btn-outline-text: oklch(87.61% 0.0001 271.152);
        --btn-outline-hover-bg: oklch(94.912% 0.00011 271.152);

        --input-border: oklch(45.678% 0.00005 271.152);
    }

    [data-theme="light"] {
        /* Background colors */
        --bg-primary: oklch(100% 0.00011 271.152);
        --bg-secondary: oklch(87.61% 0.0001 271.152);
        --bg-elevated: oklch(0% 0 0);

        /* Text colors */
        --text-primary: oklch(26.448% 0.00003 271.152);
        --text-secondary: oklch(55.208% 0.00006 271.152);
        --text-tertiary: oklch(72.193% 0.00008 271.152);
        --text-inverse: oklch(100% 0.00011 271.152);

        /* Border colors */
        --border-primary: oklch(94.007% 0.00011 271.152);
        --border-secondary: oklch(100% 0.00011 271.152);

        /* Button */
        --btn-border: 1px solid var(--border-primary);

        /* Scrollbar */
        --scrollbar-thumb: #c0c0c1;
        --scrollbar-track: #f0f0f0;

        /* System colors */
        --focus-ring: oklch(86.686% 0.0001 271.152 / 0.438);

        /* Brand - Primary */
        --brand-primary: oklch(21.779% 0.00002 271.152);
        --brand-primary-text: oklch(100% 0.00011 271.152);

        /* Brand - Secondary */
        --brand-secondary: oklch(92.494% 0.00011 271.152);
        --brand-secondary-text: oklch(31.317% 0.00004 271.152);

        /* Status - Success */
        --status-success: oklch(62.261% 0.12231 168.976);
        --status-success-text: oklch(100% 0.00011 271.152);

        /* Status - Danger */
        --status-danger: oklch(65.149% 0.20483 29.016);
        --status-danger-text: oklch(100% 0.00011 271.152);

        /* Status - Warning */
        --status-warning: oklch(75.659% 0.13791 73.503);
        --status-warning-text: oklch(28.908% 0.00003 271.152);

        /* Button variants - Ghost */
        --btn-ghost-text: oklch(82.736% 0.00109 12.426);
        --btn-ghost-bg: oklch(25.197% 0.00003 271.152 / 0.712);

        /* Button variants - Outline */
        --btn-outline-text: oklch(87.61% 0.0001 271.152);
        --btn-outline-hover-bg: oklch(94.912% 0.00011 271.152);

        --input-border: oklch(45.678% 0.00005 271.152);
    }

    [data-theme="blue"] {
        /* Background colors */
        --bg-primary: oklch(100% 0.00011 271.152);
        --bg-secondary: oklch(94.912% 0.00011 271.152);
        --bg-elevated: oklch(100% 0 0);

        /* Text colors */
        --text-primary: oklch(18.22% 0.00002 271.152);
        --text-secondary: oklch(48.55% 0.00006 271.152);
        --text-tertiary: oklch(67.64% 0.00008 271.152);
        --text-inverse: oklch(100% 0.00011 271.152);

        /* Border colors */
        --border-primary: oklch(89.143% 0.0001 271.152);
        --border-secondary: oklch(23.929% 0.00003 271.152);

        /* Button */
        --btn-border: none;

        /* Scrollbar */
        --scrollbar-thumb: #c0c0c0;
        --scrollbar-track: #f0f0f0;

        /* System colors */
        --focus-ring: oklch(57.94% 0.15495 249.976 / 0.438);

        /* Brand - Primary */
        --brand-primary: oklch(55.504% 0.19813 259.943);
        --brand-primary-text: oklch(100% 0.00011 271.152);

        /* Brand - Secondary */
        --brand-secondary: oklch(61.821% 0.11756 260.842);
        --brand-secondary-text: oklch(23.929% 0.00003 271.152);

        /* Status - Success */
        --status-success: oklch(70.466% 0.13983 168.621);
        --status-success-text: oklch(100% 0.00011 271.152);

        /* Status - Danger */
        --status-danger: oklch(62.625% 0.2079 29.319);
        --status-danger-text: oklch(100% 0.00011 271.152);

        /* Status - Warning */
        --status-warning: oklch(73.064% 0.16434 64.639);
        --status-warning-text: oklch(23.929% 0.00003 271.152);

        /* Button variants - Ghost */
        --btn-ghost-text: oklch(82.736% 0.00109 12.426);
        --btn-ghost-hover-bg: oklch(89.997% 0.04831 271.243 / 0.712);

        /* Button variants - Outline */
        --btn-outline-text: oklch(18.22% 0.00002 271.152);
        --btn-outline-hover-bg: oklch(94.912% 0.00011 271.152);
    }

    [data-theme="orange"] {
        --brand-primary: oklch(65% 0.2 50);
        --bg-primary: oklch(98% 0.02 50);
        --btn-border: none;
    }
}

@layer utilities {
    .visually-hidden {
        position: absolute;
        width: 1px;
        height: 1px;
        overflow: hidden;
        clip: rect(0, 0, 0, 0);
        white-space: nowrap;
        border: 0;
    }
}