@import "./_reset.css";
@import "./components/_button.css";
@import "./components/_input.css";

#app-container {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0 auto;
    max-width: 80vw;
}